* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

}

.calculator {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 0 auto;
  border: 1px solid black;
  width: 100%;
  max-width: 400px;
  min-height: 500px;
}

.calc-row {
  display: -webkit-box;
  display: flex;
  margin: 0;
  padding: 0;
}

.calc-row-input {
  width: 100%;
  border: none;
}

.form {
  width: 100%;
}

.calc-screen {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #1B262A;
  color: white;
  border: none;
  width: 100%;
  padding: 30px;
  font-size: 40px;
  text-align: right;
  margin: 0;
}

.operator,
.equal,
.clear,
.number,
.dot {
  border: 1px solid #323232;
  color: #ffffff;
  font-size: 29px;
  font-weight: 400;
}

.operator,
.equal {
  width: 25%;
  height: 100px;
  background-color: #FDA200;
}

.number,
.dot {
  background-color: #646464;
  width: 25%;
  margin: 0;

}

.clear {
  background-color: #464646;
  width: 75%;
  margin: 0;
  padding: 0;
}

.zero {
  width: 50%;
}

.dot {
  width: 25%;
}